
.top-margin-10 {
    margin-top: 20px;
}

.airbnb-button {
    margin-top: 40px;
    background-color: green;
    margin: 0 auto;
    display: block;
    color: white;
    padding: 7px;
    border: none;
}

.height-500 {
    height: 500px;

}

.background-airbnb {
    background: url('https://a1.muscache.com/ic/discover/1579?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&crop=0.67xw:1xh;*,*&downsize=675px:675px');
    background-size: cover;
    background-position: center;
}