[class^="col-"] {
    border: 3px solid #fffff;
}

.top-margin-10 {
    margin-top: 20px;
}

.button {
    display: block;
    background-color: #262fff;
    padding: 10px 20px;
    color: #fef3ff;
    border-radius: 50px;
    margin: 0 auto;
    border: 0px;

}

.buttonairbnb {
    border-radius: 2px;
    background-color: #007a87;
    padding: 9px 27px;
    border-bottom-color: #000000;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: #007a87;
    border-right-color: #007a87;
    border-top-color: #007a87;
    color: white;
    margin-bottom: 10px;

}

.buttonhans {
    display: block;
    border-radius: 2px;
    padding: 9px 27px;
    background-color: #007a87;
    color: white;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.50);
    border: 0px;
}

.buttonhans:hover{
    background-color: #005b69;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.20) ;

}