[class^="col-"] {
    border: 3px solid #ff648c;
}

.top-margin-10 {
    margin-top: 20px;
}

.button {
/* Rectangle: */
background: #0033A0;
box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.50);
border-radius: 98px;


/* PUSH ME!: */
font-family: Roboto;
font-size: 44px;
color: #FFFFFF;
letter-spacing: 3px;

}

.button-airbnb {
    background: #007a87;
    border-radius: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 21px;
    padding-right: 21px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;

    border: 1px solid #00445c;

}

.button-airbnb:hover {
    background-color:#00ADC3;
    box-shadow: black;


}